body {
    background-color: tomato;
    font-family: monospace;
}

.header {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 75px;
    color: white;
}

.type {
    font-size: 10px;
    width: 300px;
    height: 575px;
    color: tomato;
    background: turquoise;
    position: relative;
    animation: mymove 5s;
    padding: 16px;
    text-align: center;
    margin: 10px;
    line-height: 30px;
    animation-iteration-count: 1;
    margin-left: 530px;
}


@keyframes mymove {
    from {top: -1000px;}
    to {top: 0px;}
  }
