body {
    position: fixed;
    margin-top: 150px;
    margin-left: 560px;
    font-family: Verdana;
    font-style: oblique;
    font-size: 10px;
}

#part006 {
    font-size: 12.25px;
    font-style: oblique;
}